extends layout

block content
  h1= title
  p Welcome to #{title}

  button(type="submit"): a(href="/entities/new") Add new topic
  div#entityTable

  script(type="text/babel").
    var EntityTable = React.createClass({
      render: function() {
        return (
          <table className="entities">
              <TableRows entities={this.state.rows} />
          </table>
        )
      },
      getInitialState: function() {
          return {
            rows:[]
          };
      },
      // componentDidMount is a callback -- as soon as CommentBox has rendered, this is called
      componentDidMount: function() {
        this.serverRequest = $.get('/users/1/entities', function (result) {
          var entities = result;
          this.setState({
            rows: entities
          });
        }.bind(this));  // bind data to entityTable
      },
      componentWillUnmount: function() {
        this.serverRequest.abort();
      }
    });

    var TableRows = React.createClass({
      render: function() {
        var entities = this.props.entities.map(function(entity){
          return (
            <TableEntry entity={entity} key={entity.id} />
          )
        })

        return (
          <tbody>
            {entities}
          </tbody>
        )
      }
    })

    var TableEntry = React.createClass({
      render: function() {
        return (
          <tr>
            <td>{this.props.entity.name}</td>
            <td>{this.props.entity.description}</td>
            <td>{this.props.entity.zone}</td>
          </tr>
        )
      }
    })

    ReactDOM.render(
      <EntityTable />,
      document.getElementById('entityTable')
    );


