doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-1.12.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.min.js')
  body
    block content
