extends layout

block content
  h1= title
  p Input your entity

  div.newEntityForm
    form(name="newEntity", action="/entities/new", method="post")
      input(type="text", name="name")
      input(type="text", name="description")
      select
        option(value='topic') Topic
        option(value='resource') Resource
      input(type="submit", value="Submit")
