extends layout

block content
  h1= title
  p Input your entity

  div.newEntityForm
    form(name="newEntity", action="/entities/new", method="post")
      label(for="name") Name of entity
      input(type="text", name="name")
      label(for="description") Description
      input(type="text", name="description")
      select(name = "entityType")
        option(name='topic' value='topic' selected) Topic
        option(name='resource' value='resource') Resource
      input(type="submit", value="Submit")
